<div class="container table">
  <div class="row">
    <div class="col-sm">
      <app-block></app-block>
    </div>
    <div class="col-sm">
      <app-block></app-block>
    </div>
    <div class="col-sm">
      <app-block></app-block>
    </div>
    <div class="col-sm">
      <app-block></app-block>
    </div>
    <div class="col-sm">
      <app-block></app-block>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <app-block></app-block>
    </div>
    <div class="col-sm">
      <app-block></app-block>
    </div>
    <div class="col-sm">
      <app-block></app-block>
    </div>
    <div class="col-sm">
      <app-block></app-block>
    </div>
    <div class="col-sm">
      <app-block></app-block>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <app-block></app-block>
    </div>
    <div class="col-sm">
      <app-block></app-block>
    </div>
    <div class="col-sm">
      <app-block></app-block>
    </div>
    <div class="col-sm">
      <app-block></app-block>
    </div>
    <div class="col-sm">
      <app-block></app-block>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <app-block></app-block>
    </div>
    <div class="col-sm">
      <app-block></app-block>
    </div>
    <div class="col-sm">
      <app-block></app-block>
    </div>
    <div class="col-sm">
      <app-block></app-block>
    </div>
    <div class="col-sm">
      <app-block></app-block>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <app-block></app-block>
    </div>
    <div class="col-sm">
      <app-block></app-block>
    </div>
    <div class="col-sm">
      <app-block></app-block>
    </div>
    <div class="col-sm">
      <app-block></app-block>
    </div>
    <div class="col-sm">
      <app-block></app-block>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <app-block></app-block>
    </div>
    <div class="col-sm">
      <app-block></app-block>
    </div>
    <div class="col-sm">
      <app-block></app-block>
    </div>
    <div class="col-sm">
      <app-block></app-block>
    </div>
    <div class="col-sm">
      <app-block></app-block>
    </div>
  </div>
</div>
<button type="button" class="btn btn-dark">Submit</button>
