.btn {
  float: right;
  margin-right: 50px;
}
.input {
  margin-left: 50px;
  visibility: visible;
}
.row {
margin-left: 32%;
}
.col {
  display: contents;
}
.center {
  margin-left: auto;
  margin-right: auto;
}
canvas {
  width: 100%;
  height: 100%;
}
#main-body {
padding-left: 85px;
}

#canvas {
  position: fixed;
  bottom:   0;
  left:     0;
  height:   100%;
  width:    100%;
}
