<div class="container center">
  <div class="row">
    <div class="col">
      <app-block></app-block>
    </div>
    <div class="col">
      <app-block></app-block>
    </div>
    <div class="col">
      <app-block></app-block>
    </div>
    <div class="col">
      <app-block></app-block>
    </div>
    <div class="col">
      <app-block></app-block>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <app-block></app-block>
    </div>
    <div class="col">
      <app-block></app-block>
    </div>
    <div class="col">
      <app-block></app-block>
    </div>
    <div class="col">
      <app-block></app-block>
    </div>
    <div class="col">
      <app-block></app-block>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <app-block></app-block>
    </div>
    <div class="col">
      <app-block></app-block>
    </div>
    <div class="col">
      <app-block></app-block>
    </div>
    <div class="col">
      <app-block></app-block>
    </div>
    <div class="col">
      <app-block></app-block>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <app-block></app-block>
    </div>
    <div class="col">
      <app-block></app-block>
    </div>
    <div class="col">
      <app-block></app-block>
    </div>
    <div class="col">
      <app-block></app-block>
    </div>
    <div class="col">
      <app-block></app-block>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <app-block></app-block>
    </div>
    <div class="col">
      <app-block></app-block>
    </div>
    <div class="col">
      <app-block></app-block>
    </div>
    <div class="col">
      <app-block></app-block>
    </div>
    <div class="col">
      <app-block></app-block>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <app-block></app-block>
    </div>
    <div class="col">
      <app-block></app-block>
    </div>
    <div class="col">
      <app-block></app-block>
    </div>
    <div class="col">
      <app-block></app-block>
    </div>
    <div class="col">
      <app-block></app-block>
    </div>
  </div>
</div>
<input class="input" type="text" (keypress)="onKeypressEvent($event)" ng-pattern-restrict="/^[a-zA-Z]$/">
<button type="button" class="btn btn-dark">Submit</button>
